language: node_js
node_js:
  - "8.9.4"

branches:
  only:
    - master

before_script:
  - yarn install

script:
  - yarn build 

deploy:
  provider: pages
  skip-cleanup: true
  github-token: $GITHUB_TOKEN  
  keep-history: true
  on:
    branch: master
  local_dir: dist
